/.cph
/.vscode
/cl.exe
/cyj.cpp
/cyj.exe
/cyj.py
/duilie.cpp
/duilie.exe
/erchashu.cpp
/erchashu.exe
/helloworld.cpp
/helloworld.exe
/lxh.cpp
/out
/triangle.cpp
/triangle.exe
/tu.exe
/tujuzhen.cpp
/tulianbiao.cpp
/tulianbiao.exe
/xianxingbiao.cpp
/xianxingbiao.exe
/zhan.cpp
/zhan.exe
/zyf.cpp
/zyf.exe